DB_HOST=mongodb-master
DB_NAME=backbone-db
DB_PORT=27017
DB_USER=backbone
DB_PASSWORD=password
MONGO_REPLICA_PRIMARY=mongodb-master
MONGO_REPLICA_SECONDARY_1=mongodb-slave1
MONGO_REPLICA_SECONDARY_2=mongodb-slave2
MONGO_REPLICA_PRIMARY_PORT=27017
MONGO_REPLICA_SECONDARY_1_PORT=27017
MONGO_REPLICA_SECONDARY_2_PORT=27017
READ_PREFERENCE=primary
REPLICA_SET_NAME=mongodb_replica_set
MAIL_HOST=smtp.zoho.com
MAIL_PORT=465
MAIL_SECURE=true
MAIL_IGNORE_TLS=true
MAIL_USER=notifications@excelbd.com
MAIL_PASSWORD="ETL&aliV$P@783"
MAIL_SENDER_NAME='ArcOne'
RMQ_HOST=rabbitmq
